<div style="display: flex; flex-direction: column; height: 80vh; justify-content: center; align-items: center;">
  <h2>Formulário de registro</h2>
  <form (ngSubmit)="submitForm()" style="margin-top: 30px; width: 50%; background-color: white; border-width: 3px; padding: 10px; border-radius: 10px;" class="gap-3">
      <div class="row d-flex">
        <div name="form-content" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
          <div class="flex col-md-4">
            <label for="inputName">Nome</label>
            <input type="text" name="nome" [(ngModel)]="this.cliente.nome" class="form-control" id="inputName" placeholder="Digite o seu nome...">
          </div>
          <div class="flex col-md-4">
            <label for="inputAddress">Endereco</label>
            <input width="50%" type="text" name="endereco" [(ngModel)]="this.cliente.endereco" class="form-control" id="inputAddress" placeholder="Digite o seu endereço...">
          </div>
          <div class="flex col-md-4">
            <label for="inputPhone">Telefone</label>
            <input type="text" name="telefone" class="form-control" [(ngModel)]="this.cliente.telefone" id="inputPhone" placeholder="Digite o seu telefone...">
          </div>
          <div class="flex col-md-4">
            <label for="inputEmail">Email</label>
            <input type="email" name="email" class="form-control" [(ngModel)]="this.cliente.email" id="inputEmail" placeholder="teste@gmail.com">
          </div>
          <div style="margin-left: 1px; margin-top: 5px;" class="row d-flex">
            <button type="submit" style="width: 100%;" class="btn btn-primary">Enviar</button>
          </div> 
        </div>  
      </div>   
  </form>
</div>    
